/* Estilize o cabeçalho */
header {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    color: #007344;
}

body {
    background-image: url('epi-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
/* Centralize o título "Pedido para Aprovação" com a tabela */
#tabela-aprovacao {
    text-align: center;
}

/* Estilize a tabela para ser responsiva e centralize na página */
table {
    max-width: 50%;
    width: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Personalize a cor da caixa de seleção para #4CAF50 */
table select {
    color: #4CAF50; /* Cor da caixa de seleção */
    border-radius: 5px; /* Borda arredondada para a caixa de seleção */
}

/* Estilo para as células da tabela */
table th, table td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Estilo para o cabeçalho da tabela */
table th {
    background-color: #f2f2f2;
    color: #007344;
}

/* Estilo para as células da coluna "Item" */
table td:first-child {
    width: 15%;
    border-radius: 10px 0 0 10px;
}

/* Estilo para as células das outras colunas */
table td:nth-child(2), table td:nth-child(3), table td:nth-child(4) {
    width: 10%;
}

/* Estilo para a coluna "Ação" */
table td:last-child {
    width: 20%;
    border-radius: 0 10px 10px 0;
}

/* Personalize a cor dos dados nas células das linhas da tabela */
table td:not(:last-child) {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #4CAF50; /* Cor personalizada para os dados nas células (exceto na coluna "Ação") */
}

/* Estilize os botões Aceitar e Rejeitar */
.botoes {
    text-align: center;
}

.botoes button {
    margin: 5px;
}

/* Estilize o botão de envio */
.btn.btn-success {
    margin-bottom: 5px;
}

/* Estilize o rodapé */
footer {
    text-align: center;
    background-color: transparent;
    color: #007344;
    padding: 10px;
    background-image: url('img/logo_topo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
